* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-font-nothing: antialiased;
}

body {
    background-color: #FFF1CA;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width:768px) {
    .desktop-only {
        display: none;
    }
}