* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-font-nothing: antialiased;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
    
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #212121;
}

h1 {
    text-transform: uppercase;
    cursor: pointer;
    color: #212121;
}

strong {
    color: #212121;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    color: #212121;
}

@media screen and (max-width:768px) {

    body{

        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
    }


    .desktop-only {
        display: none;
    }

    h2 {
        font-size: 1.1rem;
    }
}