* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-font-nothing: antialiased;
}

body {
    background-color: #FFF1CA;
    
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:768px) {

    body{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .desktop-only {
        display: none;
    }
}